 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:wght@300&family=Dancing+Script&family=EB+Garamond&family=Heebo&family=Montserrat:wght@400;600;700&family=Open+Sans:wght@300&family=Oswald:wght@500&family=Poppins:ital,wght@0,200;0,300;0,500;1,200&family=Space+Grotesk&family=Tangerine:wght@700&display=swap');

:root {
  --font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.side_bar {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: #000;
  position: fixed;
  /* Cố định sidebar */
  top: 0;
  /* Duyệt về phía trên */
  left: 0;
  right: 0;
  z-index: 1;
}

.side_bar-items a {
  font-family: var(--font-family);
  text-decoration: none;
  padding: 0px 10px;
  color: #fcfbfb;
  line-height: 80px;
  font-size: 14px;
}

.side_bar-items {
  padding-left: 100px;
}

.side_bar-items i {
  font-size: 10px;
}

.side_bar-logo .logo {
  margin-left: 160px;
  margin-top: 20px;
}

.reservation {
  margin-top: 60px;
  position: relative;
  overflow: hidden;
}

.reservation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/1.webp");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -2;
}

.reservation_form {
  text-align: center;
  font-family: Arial;
  margin-top: 100px;
  color: #fcfbfb;
  font-size: 60px;
}
.reservation_form i{
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}
.table {
  margin-right: 100px;
  margin-left: 200px;
  margin-top: 150px;
  align-items: center;
}

.table form{
  padding-bottom: 80px;
}

.table table th, tr {
  color: #000;
  text-align: center;

}

.table input {
  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 30px;
  padding: 20px;
  align-items: center;
  margin-left: -55px;
}

.table button {
  background-color: rgb(0, 0, 0);
  width: 630px;
  height: 50px;
  color: #fcfbfb;
  align-items: center;
  margin-left: -10px;
}

.table button:hover {
  background-color: #ff9500;
}

#note input {
  width: 250px;
  height: 80px;
  align-items: center;
}

.inf_reservation {
  position: relative;
  overflow: hidden;
}

.inf_title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/pexels-andrea-piacquadio-3937468.jpg");
  background-repeat: no-repeat;
  background-size: 100%, 80%;
  z-index: -1;
}

.inf_title {
  text-align: center;
}
.inf_title p{
  margin-bottom: 0;
}
.inf_title i{
  font-size: 60px;
}

.inf_reservation table tr, td {
  align-items: center;
  padding-left: 45px;
  padding-right: 45px;
}

.inf_reservation p, a {
  color: gray;
  text-decoration: none;
  line-height: 1.5;
}

h1, h3 {
  font-family: oswald;
}

.table_text{
  padding-top: 60px;
}
.table_text i{
  font-size: 40px;
  color: #000;
}
/* ------ Viết CSS Dưới Này ------------ */
/* -------FOOTER ---------- */
.footer {
  background: #000;
}
.footer_container{
  padding-top:80px;
  width: 90%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%; /* Chia thành 2 cột bằng nhau */
  margin: auto;
  padding-bottom: 100px;
}
.rodich{
  color: #696565;
  text-align: center;
  font-size:15px;
  padding-left: 20px;
}
.rodich_title{
  padding-bottom: 15px;
}
.rodich_icon{
  margin-top: 30px;
}
.rodich_icon a{
  padding: 10px;
  border-radius: 50%;
  background-color: #363636;
  color: #696565;
  margin-right: 10px;
  font-size: 12px;
  transition: 0.5s;
}
.rodich_icon a:hover{
  background-color: #cfa670;
  color: #fff;
}
.rodich_container{
  width: 80%;
  text-align: left;
}
.post
{
  color: #696565;
}
.post p{
  border-bottom: solid 1px #303030;
  padding: 15px 0px;
  font-size: 14px;
}
.post h3{
  color:#fff;
  font-size: 18px;
  font-family: var(--font-family);

}
.flickr{
  margin-right: 20px;
  margin-left: 20px;
}
.flickr_img{
  display: grid;
  grid-template-rows: repeat(2, auto); /* Ba hàng với chiều cao tự động */
  grid-template-columns: repeat(3, 1fr); /* Hai cột với chiều rộng tự động chia đều */
}
.flickr h3{
  color: #fff;
  font-size: 18px;
  padding-bottom:10px;
}
.flickr_img img{
  width: 100%;
}
.flickr_img div{
  margin-right: 10px;
  margin-bottom: 5px;
}
.opening_hours{
  color: #636363;
}
.opening_hours div p{
  padding: 15px 0px;
  margin-top: 0;
  margin-bottom: 0;
}
.opening_hours a{
  border-bottom: solid 2px #cfa670;
  text-decoration: none;
  font-family: var(--font-family);
  color:#fff;
  font-size: 16px;
}
.opening_hours a:hover{
  color:#cfa670;
}
.opening_hours h3{
  color: #fff;
  font-size: 18px;
}
.opening_hours .discover_item{
  padding-bottom: 0;
  font-family: var(--font-family);
}
.opening_hours .discover_item .dotted-line{
  margin-top: 30px;
  margin-left: 5px;
  border: dotted 1px #636363;
}
.discover_items-sub{
  display: flex;
}
.dotted-line{
  border: 1px dotted #cfa670; /* 1px là độ dày của đường line, #000 là màu sắc của đường line */
  width: 100%; /* Độ dài của đường line */
  height: 0;
  margin-top: 38px;
  margin-right: 10px;
}
/* --------------------------------------------- */
.footer_contact{
  background-color: #101010;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: right;
}
.footer_link{
  text-align: right;
  padding-right: 100px;
}
.footer_link a{
  margin-right: 10px;
  text-decoration: none;
  color: #777;
  font-weight: 500;
  font-family: var(--font-family);
  font-size: 14px;
  transition: 0.5s;
}
.footer_link a:hover{
  color: #fff;
}