@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:wght@300&family=Dancing+Script&family=EB+Garamond&family=Heebo&family=Montserrat:wght@400;600;700&family=Open+Sans:wght@300&family=Oswald:wght@500&family=Poppins:ital,wght@0,200;0,300;0,500;1,200&family=Space+Grotesk&family=Tangerine:wght@700&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
  --color: #cfa670;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}
.menu_index {
  color: var(--color) !important;
}
.discover_items-sub p,
.price {
  padding-top: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 15px;
}
.side_bar {
  z-index: 2;
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: #000;
  position: fixed; /* Cố định sidebar */
  top: 0; /* Duyệt về phía trên */
  left: 0;
  right: 0;
}
.side_bar-items a {
  font-family: var(--font-family);
  text-decoration: none;
  padding: 0px 10px;
  color: #fcfbfb;
  line-height: 80px;
  font-size: 14px;
}
.side_bar-items a:hover {
  color: #cfa670;
}
.side_bar-items {
  padding-left: 100px;
}
.side_bar-items i {
  font-size: 10px;
}
.side_bar-logo .logo {
  margin-left: 160px;
  margin-top: 20px;
}
/* ------ Viết CSS Dưới Này ------------ */
.banner {
  position: relative;
}

.banner .img-banner {
  width: 100%;
  height: 450px;
  background-image: url(/img/1.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 450px;
  background-color: rgba(
    0,
    0,
    0,
    0.2
  ); /* Điều chỉnh màu và độ trong suốt của overlay */
}

.text-banner {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Đặt transform để căn giữa hoàn toàn */
  text-align: center; /* Căn giữa văn bản */
}

.text-banner h2 {
  font-size: 60px;
  color: #fcfbfb;
  font-family: "Oswald", sans-serif;
  line-height: 72px;
  margin-bottom: 20px;
  margin-top: 150px;
}

.text-banner h3 {
  font-size: 55px;
  color: #cfa670;
  font-family: "Tangerine", cursive;
  margin-top: 0;
}

.flex-container {
  display: flex;
  padding: 0 180px; /* Khoảng cách 180px ở cả hai mép */
}

.flex-item {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.s1,
.m1 {
  font-size: 40px;
  color: #232323;
  font-family: Oswald, Arial, sans-serif;
  line-height: 24px;
}

.dish1 div {
  font-size: 15px;
  font-family: Oswald, Arial, sans-serif;
  color: #232323;
}

.l1 {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.bt1 {
  color: #ffffff;
  margin-top: 5px;
  line-height: 18px;
  padding: 0 10px;
  position: relative;
  text-transform: uppercase;
  margin-top: 22px;
  background-color: #cfa670;
  font-family: Cabin, Arial, sans-serif;
  border: none;
  font-size: 10px;
  height: 18px;
  margin-right: 10px;
  text-align: center;
}

.dotted-line {
  margin-top: 30px;
  border: 1px dotted #d2d1d1; /* 1px là độ dày của đường line, #000 là màu sắc của đường line */ /* Độ dài của đường line */
  height: 0;
  width: 70% !important; /* Đặt chiều cao là 0 để chỉ hiển thị đường line mà không chiếm không gian */
}

.cost {
  margin-left: 10px;
  margin-top: 25px;
}
.t1 {
  color: #999999 !important;
  font-size: 16px;
  font-family: Cabin, Arial, sans-serif;
  line-height: 24px;
  margin-bottom: 45px;
}

.banner2 {
  position: relative;
}

.banner2 .img-banner {
  width: 100%;
  height: 545px;
  background-image: url(/img/2.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}

.banner2 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 545px;
  background-color: rgba(0, 0, 0, 0.2);
}

.banner2 .text-banner2 {
  position: absolute;
  z-index: 1;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fcfbfb;
}

.banner2 .text-banner2 h2 {
  margin-top: 0;
  font-family: Oswald, Arial, sans-serif;
  font-size: 100px;
  line-height: 90px;
}

.banner3 {
  position: relative;
}

.banner3 .img-banner {
  width: 100%;
  height: 545px;
  background-image: url(/img/3.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}

.banner3 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 545px;
  background-color: rgba(0, 0, 0, 0.2);
}

.banner3 .text-banner3 {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fcfbfb;
}

.banner3 .text-banner3 h2 {
  margin-top: 0;
  font-family: Oswald, Arial, sans-serif;
  font-size: 100px;
  line-height: 90px;
}

.banner4 {
  position: relative;
}

.banner4 .img-banner {
  width: 100%;
  height: 545px;
  background-image: url(/img/drink01.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}

.banner4 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 545px;
  background-color: rgba(0, 0, 0, 0.2);
}

.banner4 .text-banner4 {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fcfbfb;
}

.banner4 .text-banner4 h2 {
  margin-top: 0;
  font-family: Oswald, Arial, sans-serif;
  font-size: 100px;
  line-height: 90px;
}
/* ------------------------- */

/* -------FOOTER ---------- */
.footer {
  background: #000 !important;
}
.footer_container {
  padding-top: 80px;
  width: 90%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%; /* Chia thành 2 cột bằng nhau */
  margin: auto;
  padding-bottom: 100px;
}
.rodich {
  color: #696565;
  text-align: center;
  font-size: 15px;
  padding-left: 20px;
}
.rodich_title {
  padding-bottom: 15px;
}
.rodich_icon {
  margin-top: 30px;
}
.rodich_icon a {
  padding: 10px;
  border-radius: 50%;
  background-color: #363636;
  color: #696565;
  margin-right: 10px;
  font-size: 12px;
  transition: 0.5s;
}
.rodich_icon a:hover {
  background-color: #cfa670;
  color: #fff;
}
.rodich_container {
  width: 80%;
  text-align: left;
}
.post {
  color: #696565;
}
.post p {
  border-bottom: solid 1px #303030;
  padding: 15px 0px;
  font-size: 14px;
}
.post h3 {
  color: #fff;
  font-size: 18px;
  font-family: var(--font-family);
}
.flickr {
  margin-right: 20px;
  margin-left: 20px;
}
.flickr_img {
  display: grid;
  grid-template-rows: repeat(2, auto); /* Ba hàng với chiều cao tự động */
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Hai cột với chiều rộng tự động chia đều */
}
.flickr h3 {
  color: #fff;
  font-size: 18px;
  padding-bottom: 10px;
}
.flickr_img img {
  width: 100%;
}
.flickr_img div {
  margin-right: 10px;
  margin-bottom: 5px;
}
.opening_hours {
  color: #636363;
}
.opening_hours div p {
  padding: 15px 0px;
  margin-top: 0;
  margin-bottom: 0;
}
.opening_hours a {
  border-bottom: solid 2px #cfa670;
  text-decoration: none;
  font-family: var(--font-family);
  color: #fff;
  font-size: 16px;
}
.opening_hours a:hover {
  color: #cfa670;
}
.opening_hours h3 {
  color: #fff;
  font-size: 18px;
}
.opening_hours .discover_item {
  padding-bottom: 0;
  font-family: var(--font-family);
}
.opening_hours .discover_item .dotted-line {
  margin-top: 30px;
  margin-left: 5px;
  border: dotted 1px #636363;
}
.discover_items-sub {
  display: flex;
}
.footer .dotted-line {
  border: 1px dotted #cfa670; /* 1px là độ dày của đường line, #000 là màu sắc của đường line */
  width: 100%; /* Độ dài của đường line */
  height: 0;
  margin-top: 38px;
  margin-right: 10px;
}
/* --------------------------------------------- */
.footer_contact {
  background-color: #101010;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: right;
}
.footer_link {
  text-align: right;
  padding-right: 100px;
}
.footer_link a {
  margin-right: 10px;
  text-decoration: none;
  color: #777;
  font-weight: 500;
  font-family: var(--font-family);
  font-size: 14px;
  transition: 0.5s;
}
.footer_link a:hover {
  color: #fff;
}
