@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:wght@300&family=Dancing+Script&family=EB+Garamond&family=Heebo&family=Montserrat:wght@400;600;700&family=Open+Sans:wght@300&family=Oswald:wght@500&family=Poppins:ital,wght@0,200;0,300;0,500;1,200&family=Space+Grotesk&family=Tangerine:wght@700&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.side_bar {
  z-index: 2;
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: #000;
  position: fixed; /* Cố định sidebar */
  top: 0; /* Duyệt về phía trên */
  left: 0;
  right: 0;
}
.side_bar-items a {
  font-family: var(--font-family);
  text-decoration: none;
  padding: 0px 10px;
  color: #fcfbfb;
  line-height: 80px;
  font-size: 14px;
}
.side_bar-items {
  padding-left: 100px;
}
.side_bar-items i {
  font-size: 10px;
}
.side_bar-logo .logo {
  margin-left: 160px;
  margin-top: 20px;
}
/* ------ Viết CSS Dưới Này ------------ */
.banner{
  position: relative;
}

.banner .img-banner{
  width: 100%;
  height: 450px;
  background-image: url(/img/1.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.2); /* Điều chỉnh màu và độ trong suốt của overlay */
}

.text-banner {
  position: absolute;
  z-index: 1;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); /* Đặt transform để căn giữa hoàn toàn */
  text-align: center; /* Căn giữa văn bản */
}

.text-banner h2{
  font-size: 60px;
  color: #fcfbfb;
  font-family: 'Oswald', sans-serif;
  line-height: 72px;
  margin-bottom: 20px;
  margin-top: 150px;
}

.text-banner h3{
  font-size: 55px;
  color: #cfa670;
  font-family: 'Tangerine', cursive;
  margin-top: 0;
}

.flex-container {
  display: flex;
  padding: 0 180px; /* Khoảng cách 180px ở cả hai mép */
}

.flex-item {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.s1, .m1{
  font-size: 40px;
  color: #232323;
  font-family: Oswald, Arial, sans-serif;
  line-height: 24px;
}

.dish1 div{
  font-size: 16px;
  font-family: Oswald, Arial, sans-serif;
  color: #232323;
  line-height: 24px;
  margin-right: 8px;
}

.l1{
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.bt1{
  width: 25px;
  color: #ffffff;
  margin-top: 5px;
  line-height: 18px;
  padding: 0 10px;
  position: relative;
  text-transform: uppercase;
  top: -4px;
  background-color: #CFA670;
  font-family: Cabin, Arial, sans-serif;
  border: none;
  font-size: 10px;
  height: 18px;
  margin-right: 5px;
  text-align: center;
}

.dotted-line {
  margin-top: 10px;
  margin-right: 5px;
  border: 1px dotted #d2d1d1; /* 1px là độ dày của đường line, #000 là màu sắc của đường line */
  width: 275px; /* Độ dài của đường line */
  height: 0; /* Đặt chiều cao là 0 để chỉ hiển thị đường line mà không chiếm không gian */
}

.cost{
  margin-left: 10px;
}
.t1{
  color: #999999 !important;
  font-size: 16px;
  font-family: Cabin, Arial, sans-serif;
  line-height: 24px;
  margin-bottom: 45px;
}


.banner2 {
  position: relative;
}

.banner2 .img-banner {
  width: 100%;
  height: 545px;
  background-image: url(/img/2.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}

.banner2 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 545px;
  background-color: rgba(0, 0, 0, 0.2);
}

.banner2 .text-banner2 {
  position: absolute;
  z-index: 1;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fcfbfb;
}

.banner2 .text-banner2 h2 {
  margin-top: 0;
  font-family: Oswald, Arial, sans-serif;
  font-size: 100px;
  line-height: 90px;
}

.banner3 {
  position: relative;
}

.banner3 .img-banner {
  width: 100%;
  height: 545px;
  background-image: url(/img/3.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}

.banner3 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 545px;
  background-color: rgba(0, 0, 0, 0.2);
}

.banner3 .text-banner3 {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fcfbfb;
}

.banner3 .text-banner3 h2 {
  margin-top: 0;
  font-family: Oswald, Arial, sans-serif;
  font-size: 100px;
  line-height: 90px;
}

.banner4 {
  position: relative;
}

.banner4 .img-banner {
  width: 100%;
  height: 545px;
  background-image: url(/img/drink01.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}

.banner4 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 545px;
  background-color: rgba(0, 0, 0, 0.2);
}

.banner4 .text-banner4 {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fcfbfb;
}

.banner4 .text-banner4 h2 {
  margin-top: 0;
  font-family: Oswald, Arial, sans-serif;
  font-size: 100px;
  line-height: 90px;
}