@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:wght@300&family=Dancing+Script&family=EB+Garamond&family=Heebo&family=Montserrat:wght@400;600;700&family=Open+Sans:wght@300&family=Oswald:wght@500&family=Poppins:ital,wght@0,200;0,300;0,500;1,200&family=Space+Grotesk&family=Tangerine:wght@700&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
  --color: #cfa670;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.side_bar {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: #000;
  position: fixed; /* Cố định sidebar */
  top: 0; /* Duyệt về phía trên */
  left: 0;
  right: 0;
}
.discover_items-sub p,
.price {
  padding-top: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 15px;
}
.side_bar-items a {
  font-family: var(--font-family);
  text-decoration: none;
  padding: 0px 10px;
  color: #fcfbfb;
  line-height: 80px;
  font-size: 14px;
}
.side_bar-items {
  padding-left: 100px;
}
.side_bar-items a:hover {
  color: #cfa670;
}
.side_bar-items i {
  font-size: 10px;
}
.side_bar-logo .logo {
  margin-left: 160px;
  margin-top: 20px;
}
/* ------ Viết CSS Dưới Này ------------ */
.page {
  color: #cfa670 !important;
}
.page_title {
  background: url(/img/1.webp);
  margin-top: 80px;
}
.page_detail {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 30px 0px;
}
.page_detail h3 {
  font-size: 50px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: lighter;
  margin-bottom: 0px;
}
.page_detail p {
  font-size: 40px;
  color: #cfa670;
  font-family: "Dancing Script", cursive;
  font-weight: lighter;
  margin-bottom: 50px;
  margin-top: 0;
}
/* ------------------------------ */
#about_us {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  padding-top: 80px;
}
#about_us .content {
  width: 50%;
  margin: auto;
}
.content h2 {
  font-size: 35px;
  margin-top: 0;
  font-family: "Heebo", sans-serif;
  margin-bottom: 0;
}
.content h3 {
  font-size: 50px;
  color: var(--color);
  font-family: "Dancing Script", cursive;
  font-weight: lighter;
  margin-bottom: 0px;
}
.content p {
  font-size: 18px;
  color: rgb(145, 143, 141);
  font-family: "Heebo", sans-serif;
  margin-bottom: 0;
}
.content a {
  color: #000;
  text-decoration: none;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 3px solid #cfa670;
  transition: 0.5s;
}
/* Hover */
.content a:hover {
  color: #cfa670;
}
.content_img {
  display: flex;
  margin-top: 80px;
}
.img_item {
  margin-right: 10px;
}
.img_item img {
  border-radius: 10px;
}
.content_sign {
  padding: 10px 0px;
}
/* ------------------------------ */
hr {
  background-color: #c2bebe;
  width: 80%;
  margin-top: 100px;
}
.modern {
}
.modern_contain {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 80px;
}
.modern_detail {
  width: 70%;
  margin: auto;
  text-align: center;
}
.modern_detail h3 {
  font-size: 50px;
  color: var(--color);
  font-family: "Dancing Script", cursive;
  font-weight: lighter;
  margin-bottom: 0px;
}
.modern_detail h2 {
  font-size: 40px;
  margin-top: 0;
  font-family: "Heebo", sans-serif;
  margin-bottom: 0;
}
.modern_detail p {
  font-size: 17px;
  color: rgb(145, 143, 141);
  font-family: "Heebo", sans-serif;
  margin-bottom: 0;
}
.modern_img {
  margin-top: 80px;
  margin-left: 40px;
}
.modern_img img {
  width: 70%;
  border-radius: 10px;
}
.modern_detail a {
  text-decoration: none;
  color: #000;
  font-family: var(--font-family);
  border-bottom: solid 3px var(--color);
}
.modern_detail a:hover {
  color: #cfa670;
}
.page_staff {
  padding-bottom: 100px;
}
/* ----------------------------------- */
.number_page {
  background: url(/img/page02.webp);
}
.number_page div {
  text-align: center;
}
.layout_page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgba(0, 0, 0, 0.9);
  padding: 50px 0px;
}
.layout_page div h3 {
  font-size: 50px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: lighter;
  margin-bottom: 0px;
}
.layout_page div p {
  color: #fff;
  font-family: var(--font-family);
  font-size: 14px;
}
/* ------------------------------------ */
.staff_title h3 {
  font-size: 50px;
  color: var(--color);
  font-family: "Dancing Script", cursive;
  font-weight: lighter;
  margin-bottom: 0px;
  text-align: center;
  margin-bottom: 0;
}
.staff_title p {
  font-size: 40px;
  color: #000;
  font-family: "Oswald", sans-serif;
  font-weight: lighter;
  margin-bottom: 40px;
  text-align: center;
  margin-top: 0;
}
.staff_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0px 80px;
}
.staff_items div {
  width: 90%;
  margin: auto;
  text-align: center;
}
.staff_items div img {
  width: 100%;
}
.staff_items div h2 {
  color: #232323;
  margin-bottom: 0;
  margin-top: 25px;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
}
.staff_items div h3 {
  margin-top: 0;
  font-family: var(--font-family);
  font-size: 16px;
}
.staff_items div p {
  font-family: var(--font-family);
  font-size: 15px;
  color: #777;
}
.dotted-line {
  border: 1px dotted #cfa670; /* 1px là độ dày của đường line, #000 là màu sắc của đường line */
  width: 100%; /* Độ dài của đường line */
  height: 0;
  margin-top: 38px;
  margin-right: 10px;
}
/* ---------------------------------------------- */
.footer {
  background: #000 !important;
}
.footer_container {
  padding-top: 80px;
  width: 90%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%; /* Chia thành 2 cột bằng nhau */
  margin: auto;
  padding-bottom: 100px;
}
.rodich {
  color: #696565;
  text-align: center;
  font-size: 15px;
  padding-left: 20px;
}
.rodich_title {
  padding-bottom: 15px;
}
.rodich_icon {
  margin-top: 30px;
}
.rodich_icon a {
  padding: 10px;
  border-radius: 50%;
  background-color: #363636;
  color: #696565;
  margin-right: 10px;
  font-size: 12px;
  transition: 0.5s;
}
.rodich_icon a:hover {
  background-color: #cfa670;
  color: #fff;
}
.rodich_container {
  width: 80%;
  text-align: left;
}
.post {
  color: #696565;
}
.post p {
  border-bottom: solid 1px #303030;
  padding: 15px 0px;
  font-size: 14px;
}
.post h3 {
  color: #fff;
  font-size: 18px;
  font-family: var(--font-family);
  transition: 0.5s;
}
.post p:hover {
  color: var(--color);
}
.flickr {
  margin-right: 20px;
  margin-left: 20px;
}
.flickr_img {
  display: grid;
  grid-template-rows: repeat(2, auto); /* Ba hàng với chiều cao tự động */
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Hai cột với chiều rộng tự động chia đều */
}
.flickr h3 {
  color: #fff;
  font-size: 18px;
  padding-bottom: 10px;
}
.flickr_img img {
  width: 100%;
}
.flickr_img div {
  margin-right: 10px;
  margin-bottom: 5px;
}
.opening_hours {
  color: #636363;
}
.opening_hours div p {
  padding: 15px 0px;
  margin-top: 0;
  margin-bottom: 0;
}
.opening_hours a {
  border-bottom: solid 2px #cfa670;
  text-decoration: none;
  font-family: var(--font-family);
  color: #fff;
  font-size: 16px;
}
.opening_hours a:hover {
  color: #cfa670;
}
.opening_hours h3 {
  color: #fff;
  font-size: 18px;
}
.opening_hours .discover_item {
  padding-bottom: 0;
  font-family: var(--font-family);
}
.opening_hours .discover_item .dotted-line {
  margin-top: 30px;
  margin-left: 5px;
  border: dotted 1px #636363;
}
.discover_items-sub {
  display: flex;
}
.dotted-line {
  border: 1px dotted #696565; /* 1px là độ dày của đường line, #000 là màu sắc của đường line */
  width: 100%; /* Độ dài của đường line */
  height: 0;
  margin-top: 38px;
  margin-right: 10px;
}
/* --------------------------------------------- */
.footer_contact {
  background-color: #101010;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: right;
}
.footer_link {
  text-align: right;
  padding-right: 100px;
}
.footer_link a {
  margin-right: 10px;
  text-decoration: none;
  color: #777;
  font-weight: 500;
  font-family: var(--font-family);
  font-size: 14px;
  transition: 0.5s;
}
.footer_link a:hover {
  color: #fff;
}
